# Solana
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_CIVITAS_PROGRAM_ID=CQW3TnN4X6iG2potguVv2hCKfk4f9tf8PMG7dTV6e24y
NEXT_PUBLIC_USDC_MINT=9pan9bMn5HatX4EJdBwg9VgCa7Uz5HL8N1m5D3NdXejP

# MagicBlock
NEXT_PUBLIC_MAGICBLOCK_ROUTER=https://devnet-router.magicblock.app
NEXT_PUBLIC_MAGICBLOCK_PER_ENDPOINT=https://devnet-router.magicblock.app/per

# Nillion (from Nucleus dashboard)
NILLION_ORG_SECRET_KEY=
NILCC_CLUSTER_URL=
NILCC_SIGNING_KEY=

# Cloak
NEXT_PUBLIC_CLOAK_PROGRAM_ID=zh1eLd6rSphLejbFfJEneUwzHRfMKxgzrgkfwA6qRkW

# App
NEXT_PUBLIC_CIVITAS_DOMAIN_TAG=civitas-devnet-v1
